.header {
  width: 100vw;
  height: 7vh;
  background: linear-gradient(
    to left,
    rgb(255, 255, 255),
    rgb(100, 12, 12),
    rgb(30, 144, 255)
  );
  animation: animation 1s;
  animation-iteration-count: infinite;
}
@keyframes animation {
  0% {
    background: linear-gradient(
      to left,
      rgb(255, 255, 255),
      rgb(100, 12, 12),
      rgb(30, 144, 255)
    );
  }
  1% {
    background: linear-gradient(
      to left,
      rgb(250.58823529411765, 252.8235294117647, 255),
      rgb(100, 12, 12),
      rgb(34.411764705882355, 146.1764705882353, 255)
    );
  }
  2% {
    background: linear-gradient(
      to left,
      rgb(246.1764705882353, 250.64705882352942, 255),
      rgb(100, 12, 12),
      rgb(38.82352941176471, 148.35294117647058, 255)
    );
  }
  3% {
    background: linear-gradient(
      to left,
      rgb(241.76470588235293, 248.47058823529412, 255),
      rgb(100, 12, 12),
      rgb(43.23529411764706, 150.52941176470588, 255)
    );
  }
  4% {
    background: linear-gradient(
      to left,
      rgb(237.35294117647058, 246.2941176470588, 255),
      rgb(100, 12, 12),
      rgb(47.64705882352941, 152.7058823529412, 255)
    );
  }
  5% {
    background: linear-gradient(
      to left,
      rgb(232.94117647058823, 244.11764705882354, 255),
      rgb(100, 12, 12),
      rgb(52.05882352941177, 154.88235294117646, 255)
    );
  }
  6% {
    background: linear-gradient(
      to left,
      rgb(228.52941176470588, 241.94117647058823, 255),
      rgb(100, 12, 12),
      rgb(56.470588235294116, 157.05882352941177, 255)
    );
  }
  7% {
    background: linear-gradient(
      to left,
      rgb(224.11764705882354, 239.76470588235293, 255),
      rgb(100, 12, 12),
      rgb(60.88235294117647, 159.23529411764707, 255)
    );
  }
  8% {
    background: linear-gradient(
      to left,
      rgb(219.70588235294116, 237.58823529411765, 255),
      rgb(100, 12, 12),
      rgb(65.29411764705883, 161.41176470588235, 255)
    );
  }
  9% {
    background: linear-gradient(
      to left,
      rgb(215.2941176470588, 235.41176470588235, 255),
      rgb(100, 12, 12),
      rgb(69.70588235294119, 163.58823529411765, 255)
    );
  }
  10% {
    background: linear-gradient(
      to left,
      rgb(210.88235294117646, 233.23529411764707, 255),
      rgb(100, 12, 12),
      rgb(74.11764705882354, 165.76470588235293, 255)
    );
  }
  11% {
    background: linear-gradient(
      to left,
      rgb(206.47058823529412, 231.05882352941177, 255),
      rgb(100, 12, 12),
      rgb(78.52941176470588, 167.94117647058823, 255)
    );
  }
  12% {
    background: linear-gradient(
      to left,
      rgb(202.05882352941177, 228.88235294117646, 255),
      rgb(100, 12, 12),
      rgb(82.94117647058823, 170.11764705882354, 255)
    );
  }
  13% {
    background: linear-gradient(
      to left,
      rgb(197.6470588235294, 226.7058823529412, 255),
      rgb(100, 12, 12),
      rgb(87.3529411764706, 172.2941176470588, 255)
    );
  }
  14% {
    background: linear-gradient(
      to left,
      rgb(193.23529411764707, 224.52941176470588, 255),
      rgb(100, 12, 12),
      rgb(91.76470588235294, 174.47058823529412, 255)
    );
  }
  15% {
    background: linear-gradient(
      to left,
      rgb(188.8235294117647, 222.3529411764706, 255),
      rgb(100, 12, 12),
      rgb(96.1764705882353, 176.6470588235294, 255)
    );
  }
  16% {
    background: linear-gradient(
      to left,
      rgb(184.41176470588235, 220.1764705882353, 255),
      rgb(100, 12, 12),
      rgb(100.58823529411765, 178.8235294117647, 255)
    );
  }
  17% {
    background: linear-gradient(
      to left,
      rgb(180, 218, 255),
      rgb(100, 12, 12),
      rgb(105, 181, 255)
    );
  }
  18% {
    background: linear-gradient(
      to left,
      rgb(175.58823529411762, 215.8235294117647, 255),
      rgb(100, 12, 12),
      rgb(109.41176470588236, 183.1764705882353, 255)
    );
  }
  19% {
    background: linear-gradient(
      to left,
      rgb(171.1764705882353, 213.64705882352942, 255),
      rgb(100, 12, 12),
      rgb(113.82352941176471, 185.35294117647058, 255)
    );
  }
  20% {
    background: linear-gradient(
      to left,
      rgb(166.76470588235293, 211.47058823529412, 255),
      rgb(100, 12, 12),
      rgb(118.23529411764707, 187.52941176470588, 255)
    );
  }
  21% {
    background: linear-gradient(
      to left,
      rgb(162.35294117647058, 209.29411764705884, 255),
      rgb(100, 12, 12),
      rgb(122.64705882352942, 189.70588235294116, 255)
    );
  }
  22% {
    background: linear-gradient(
      to left,
      rgb(157.94117647058823, 207.11764705882354, 255),
      rgb(100, 12, 12),
      rgb(127.05882352941177, 191.88235294117646, 255)
    );
  }
  23% {
    background: linear-gradient(
      to left,
      rgb(153.52941176470586, 204.94117647058823, 255),
      rgb(100, 12, 12),
      rgb(131.47058823529414, 194.05882352941177, 255)
    );
  }
  24% {
    background: linear-gradient(
      to left,
      rgb(149.11764705882354, 202.76470588235293, 255),
      rgb(100, 12, 12),
      rgb(135.88235294117646, 196.23529411764707, 255)
    );
  }
  25% {
    background: linear-gradient(
      to left,
      rgb(144.70588235294116, 200.58823529411765, 255),
      rgb(100, 12, 12),
      rgb(140.29411764705884, 198.41176470588235, 255)
    );
  }
  26% {
    background: linear-gradient(
      to left,
      rgb(140.2941176470588, 198.41176470588235, 255),
      rgb(100, 12, 12),
      rgb(144.7058823529412, 200.58823529411765, 255)
    );
  }
  27% {
    background: linear-gradient(
      to left,
      rgb(135.88235294117646, 196.23529411764707, 255),
      rgb(100, 12, 12),
      rgb(149.11764705882354, 202.76470588235293, 255)
    );
  }
  28% {
    background: linear-gradient(
      to left,
      rgb(131.47058823529412, 194.05882352941177, 255),
      rgb(100, 12, 12),
      rgb(153.52941176470588, 204.94117647058823, 255)
    );
  }
  29% {
    background: linear-gradient(
      to left,
      rgb(127.05882352941175, 191.88235294117646, 255),
      rgb(100, 12, 12),
      rgb(157.94117647058823, 207.11764705882354, 255)
    );
  }
  30% {
    background: linear-gradient(
      to left,
      rgb(122.64705882352939, 189.7058823529412, 255),
      rgb(100, 12, 12),
      rgb(162.3529411764706, 209.2941176470588, 255)
    );
  }
  31% {
    background: linear-gradient(
      to left,
      rgb(118.23529411764704, 187.52941176470588, 255),
      rgb(100, 12, 12),
      rgb(166.76470588235296, 211.47058823529412, 255)
    );
  }
  32% {
    background: linear-gradient(
      to left,
      rgb(113.8235294117647, 185.3529411764706, 255),
      rgb(100, 12, 12),
      rgb(171.1764705882353, 213.6470588235294, 255)
    );
  }
  33% {
    background: linear-gradient(
      to left,
      rgb(109.41176470588235, 183.1764705882353, 255),
      rgb(100, 12, 12),
      rgb(175.58823529411765, 215.8235294117647, 255)
    );
  }
  34% {
    background: linear-gradient(
      to left,
      rgb(105, 181, 255),
      rgb(100, 12, 12),
      rgb(180, 218, 255)
    );
  }
  35% {
    background: linear-gradient(
      to left,
      rgb(100.58823529411762, 178.8235294117647, 255),
      rgb(100, 12, 12),
      rgb(184.41176470588238, 220.1764705882353, 255)
    );
  }
  36% {
    background: linear-gradient(
      to left,
      rgb(96.17647058823528, 176.64705882352942, 255),
      rgb(100, 12, 12),
      rgb(188.82352941176472, 222.35294117647058, 255)
    );
  }
  37% {
    background: linear-gradient(
      to left,
      rgb(91.76470588235293, 174.47058823529414, 255),
      rgb(100, 12, 12),
      rgb(193.23529411764707, 224.52941176470586, 255)
    );
  }
  38% {
    background: linear-gradient(
      to left,
      rgb(87.35294117647058, 172.29411764705884, 255),
      rgb(100, 12, 12),
      rgb(197.64705882352942, 226.70588235294116, 255)
    );
  }
  39% {
    background: linear-gradient(
      to left,
      rgb(82.94117647058823, 170.11764705882354, 255),
      rgb(100, 12, 12),
      rgb(202.05882352941177, 228.88235294117646, 255)
    );
  }
  40% {
    background: linear-gradient(
      to left,
      rgb(78.52941176470586, 167.94117647058823, 255),
      rgb(100, 12, 12),
      rgb(206.47058823529414, 231.05882352941177, 255)
    );
  }
  41% {
    background: linear-gradient(
      to left,
      rgb(74.11764705882351, 165.76470588235293, 255),
      rgb(100, 12, 12),
      rgb(210.8823529411765, 233.23529411764707, 255)
    );
  }
  42% {
    background: linear-gradient(
      to left,
      rgb(69.70588235294116, 163.58823529411765, 255),
      rgb(100, 12, 12),
      rgb(215.29411764705884, 235.41176470588235, 255)
    );
  }
  43% {
    background: linear-gradient(
      to left,
      rgb(65.29411764705881, 161.41176470588238, 255),
      rgb(100, 12, 12),
      rgb(219.7058823529412, 237.58823529411762, 255)
    );
  }
  44% {
    background: linear-gradient(
      to left,
      rgb(60.882352941176464, 159.23529411764707, 255),
      rgb(100, 12, 12),
      rgb(224.11764705882354, 239.76470588235293, 255)
    );
  }
  45% {
    background: linear-gradient(
      to left,
      rgb(56.470588235294116, 157.05882352941177, 255),
      rgb(100, 12, 12),
      rgb(228.52941176470588, 241.94117647058823, 255)
    );
  }
  46% {
    background: linear-gradient(
      to left,
      rgb(52.05882352941174, 154.88235294117646, 255),
      rgb(100, 12, 12),
      rgb(232.94117647058826, 244.11764705882354, 255)
    );
  }
  47% {
    background: linear-gradient(
      to left,
      rgb(47.64705882352939, 152.7058823529412, 255),
      rgb(100, 12, 12),
      rgb(237.3529411764706, 246.2941176470588, 255)
    );
  }
  48% {
    background: linear-gradient(
      to left,
      rgb(43.235294117647044, 150.52941176470588, 255),
      rgb(100, 12, 12),
      rgb(241.76470588235296, 248.47058823529412, 255)
    );
  }
  49% {
    background: linear-gradient(
      to left,
      rgb(38.823529411764696, 148.3529411764706, 255),
      rgb(100, 12, 12),
      rgb(246.1764705882353, 250.6470588235294, 255)
    );
  }
  50% {
    background: linear-gradient(
      to left,
      rgb(34.41176470588235, 146.1764705882353, 255),
      rgb(100, 12, 12),
      rgb(250.58823529411765, 252.8235294117647, 255)
    );
  }
  51% {
    background: linear-gradient(
      to left,
      rgb(38.82352941176468, 148.35294117647058, 255),
      rgb(100, 12, 12),
      rgb(246.17647058823533, 250.64705882352942, 255)
    );
  }
  52% {
    background: linear-gradient(
      to left,
      rgb(43.23529411764703, 150.52941176470588, 255),
      rgb(100, 12, 12),
      rgb(241.76470588235296, 248.47058823529412, 255)
    );
  }
  53% {
    background: linear-gradient(
      to left,
      rgb(47.647058823529385, 152.7058823529412, 255),
      rgb(100, 12, 12),
      rgb(237.3529411764706, 246.2941176470588, 255)
    );
  }
  54% {
    background: linear-gradient(
      to left,
      rgb(52.05882352941174, 154.88235294117646, 255),
      rgb(100, 12, 12),
      rgb(232.94117647058826, 244.11764705882354, 255)
    );
  }
  55% {
    background: linear-gradient(
      to left,
      rgb(56.47058823529409, 157.05882352941177, 255),
      rgb(100, 12, 12),
      rgb(228.5294117647059, 241.94117647058823, 255)
    );
  }
  56% {
    background: linear-gradient(
      to left,
      rgb(60.88235294117644, 159.23529411764707, 255),
      rgb(100, 12, 12),
      rgb(224.11764705882356, 239.76470588235293, 255)
    );
  }
  57% {
    background: linear-gradient(
      to left,
      rgb(65.2941176470588, 161.41176470588235, 255),
      rgb(100, 12, 12),
      rgb(219.70588235294122, 237.58823529411765, 255)
    );
  }
  58% {
    background: linear-gradient(
      to left,
      rgb(69.70588235294116, 163.58823529411765, 255),
      rgb(100, 12, 12),
      rgb(215.29411764705884, 235.41176470588235, 255)
    );
  }
  59% {
    background: linear-gradient(
      to left,
      rgb(74.11764705882351, 165.76470588235293, 255),
      rgb(100, 12, 12),
      rgb(210.8823529411765, 233.23529411764707, 255)
    );
  }
  60% {
    background: linear-gradient(
      to left,
      rgb(78.52941176470586, 167.94117647058823, 255),
      rgb(100, 12, 12),
      rgb(206.47058823529414, 231.05882352941177, 255)
    );
  }
  61% {
    background: linear-gradient(
      to left,
      rgb(82.9411764705882, 170.11764705882354, 255),
      rgb(100, 12, 12),
      rgb(202.0588235294118, 228.88235294117646, 255)
    );
  }
  62% {
    background: linear-gradient(
      to left,
      rgb(87.35294117647057, 172.2941176470588, 255),
      rgb(100, 12, 12),
      rgb(197.64705882352945, 226.7058823529412, 255)
    );
  }
  63% {
    background: linear-gradient(
      to left,
      rgb(91.76470588235291, 174.47058823529412, 255),
      rgb(100, 12, 12),
      rgb(193.23529411764707, 224.52941176470588, 255)
    );
  }
  64% {
    background: linear-gradient(
      to left,
      rgb(96.17647058823528, 176.6470588235294, 255),
      rgb(100, 12, 12),
      rgb(188.82352941176472, 222.3529411764706, 255)
    );
  }
  65% {
    background: linear-gradient(
      to left,
      rgb(100.58823529411762, 178.8235294117647, 255),
      rgb(100, 12, 12),
      rgb(184.41176470588238, 220.1764705882353, 255)
    );
  }
  66% {
    background: linear-gradient(
      to left,
      rgb(104.99999999999997, 181, 255),
      rgb(100, 12, 12),
      rgb(180.00000000000003, 218, 255)
    );
  }
  67% {
    background: linear-gradient(
      to left,
      rgb(109.41176470588233, 183.1764705882353, 255),
      rgb(100, 12, 12),
      rgb(175.58823529411768, 215.8235294117647, 255)
    );
  }
  68% {
    background: linear-gradient(
      to left,
      rgb(113.82352941176468, 185.35294117647058, 255),
      rgb(100, 12, 12),
      rgb(171.1764705882353, 213.64705882352942, 255)
    );
  }
  69% {
    background: linear-gradient(
      to left,
      rgb(118.23529411764704, 187.52941176470588, 255),
      rgb(100, 12, 12),
      rgb(166.76470588235296, 211.47058823529412, 255)
    );
  }
  70% {
    background: linear-gradient(
      to left,
      rgb(122.64705882352939, 189.70588235294116, 255),
      rgb(100, 12, 12),
      rgb(162.3529411764706, 209.29411764705884, 255)
    );
  }
  71% {
    background: linear-gradient(
      to left,
      rgb(127.05882352941174, 191.88235294117646, 255),
      rgb(100, 12, 12),
      rgb(157.94117647058826, 207.11764705882354, 255)
    );
  }
  72% {
    background: linear-gradient(
      to left,
      rgb(131.4705882352941, 194.05882352941177, 255),
      rgb(100, 12, 12),
      rgb(153.5294117647059, 204.94117647058823, 255)
    );
  }
  73% {
    background: linear-gradient(
      to left,
      rgb(135.88235294117646, 196.23529411764707, 255),
      rgb(100, 12, 12),
      rgb(149.11764705882354, 202.76470588235293, 255)
    );
  }
  74% {
    background: linear-gradient(
      to left,
      rgb(140.29411764705878, 198.41176470588235, 255),
      rgb(100, 12, 12),
      rgb(144.70588235294122, 200.58823529411765, 255)
    );
  }
  75% {
    background: linear-gradient(
      to left,
      rgb(144.70588235294116, 200.58823529411765, 255),
      rgb(100, 12, 12),
      rgb(140.29411764705884, 198.41176470588235, 255)
    );
  }
  76% {
    background: linear-gradient(
      to left,
      rgb(149.1176470588235, 202.76470588235293, 255),
      rgb(100, 12, 12),
      rgb(135.8823529411765, 196.23529411764707, 255)
    );
  }
  77% {
    background: linear-gradient(
      to left,
      rgb(153.52941176470586, 204.94117647058823, 255),
      rgb(100, 12, 12),
      rgb(131.47058823529414, 194.05882352941177, 255)
    );
  }
  78% {
    background: linear-gradient(
      to left,
      rgb(157.94117647058823, 207.11764705882354, 255),
      rgb(100, 12, 12),
      rgb(127.05882352941178, 191.88235294117646, 255)
    );
  }
  79% {
    background: linear-gradient(
      to left,
      rgb(162.35294117647058, 209.2941176470588, 255),
      rgb(100, 12, 12),
      rgb(122.64705882352942, 189.7058823529412, 255)
    );
  }
  80% {
    background: linear-gradient(
      to left,
      rgb(166.76470588235293, 211.47058823529412, 255),
      rgb(100, 12, 12),
      rgb(118.23529411764707, 187.52941176470588, 255)
    );
  }
  81% {
    background: linear-gradient(
      to left,
      rgb(171.17647058823528, 213.6470588235294, 255),
      rgb(100, 12, 12),
      rgb(113.82352941176472, 185.3529411764706, 255)
    );
  }
  82% {
    background: linear-gradient(
      to left,
      rgb(175.58823529411762, 215.8235294117647, 255),
      rgb(100, 12, 12),
      rgb(109.41176470588238, 183.1764705882353, 255)
    );
  }
  83% {
    background: linear-gradient(
      to left,
      rgb(179.99999999999997, 218, 255),
      rgb(100, 12, 12),
      rgb(105.00000000000003, 181, 255)
    );
  }
  84% {
    background: linear-gradient(
      to left,
      rgb(184.41176470588235, 220.1764705882353, 255),
      rgb(100, 12, 12),
      rgb(100.58823529411765, 178.8235294117647, 255)
    );
  }
  85% {
    background: linear-gradient(
      to left,
      rgb(188.8235294117647, 222.35294117647058, 255),
      rgb(100, 12, 12),
      rgb(96.1764705882353, 176.64705882352942, 255)
    );
  }
  86% {
    background: linear-gradient(
      to left,
      rgb(193.23529411764704, 224.52941176470586, 255),
      rgb(100, 12, 12),
      rgb(91.76470588235296, 174.47058823529414, 255)
    );
  }
  87% {
    background: linear-gradient(
      to left,
      rgb(197.6470588235294, 226.70588235294116, 255),
      rgb(100, 12, 12),
      rgb(87.35294117647061, 172.29411764705884, 255)
    );
  }
  88% {
    background: linear-gradient(
      to left,
      rgb(202.05882352941174, 228.88235294117646, 255),
      rgb(100, 12, 12),
      rgb(82.94117647058826, 170.11764705882354, 255)
    );
  }
  89% {
    background: linear-gradient(
      to left,
      rgb(206.47058823529412, 231.05882352941177, 255),
      rgb(100, 12, 12),
      rgb(78.52941176470588, 167.94117647058823, 255)
    );
  }
  90% {
    background: linear-gradient(
      to left,
      rgb(210.88235294117646, 233.23529411764707, 255),
      rgb(100, 12, 12),
      rgb(74.11764705882354, 165.76470588235293, 255)
    );
  }
  91% {
    background: linear-gradient(
      to left,
      rgb(215.2941176470588, 235.41176470588235, 255),
      rgb(100, 12, 12),
      rgb(69.70588235294119, 163.58823529411765, 255)
    );
  }
  92% {
    background: linear-gradient(
      to left,
      rgb(219.70588235294116, 237.58823529411762, 255),
      rgb(100, 12, 12),
      rgb(65.29411764705884, 161.41176470588238, 255)
    );
  }
  93% {
    background: linear-gradient(
      to left,
      rgb(224.1176470588235, 239.76470588235293, 255),
      rgb(100, 12, 12),
      rgb(60.88235294117649, 159.23529411764707, 255)
    );
  }
  94% {
    background: linear-gradient(
      to left,
      rgb(228.52941176470586, 241.94117647058823, 255),
      rgb(100, 12, 12),
      rgb(56.470588235294144, 157.05882352941177, 255)
    );
  }
  95% {
    background: linear-gradient(
      to left,
      rgb(232.94117647058823, 244.11764705882354, 255),
      rgb(100, 12, 12),
      rgb(52.05882352941177, 154.88235294117646, 255)
    );
  }
  96% {
    background: linear-gradient(
      to left,
      rgb(237.35294117647058, 246.2941176470588, 255),
      rgb(100, 12, 12),
      rgb(47.64705882352942, 152.7058823529412, 255)
    );
  }
  97% {
    background: linear-gradient(
      to left,
      rgb(241.76470588235293, 248.47058823529412, 255),
      rgb(100, 12, 12),
      rgb(43.23529411764707, 150.52941176470588, 255)
    );
  }
  98% {
    background: linear-gradient(
      to left,
      rgb(246.17647058823528, 250.6470588235294, 255),
      rgb(100, 12, 12),
      rgb(38.823529411764724, 148.3529411764706, 255)
    );
  }
  99% {
    background: linear-gradient(
      to left,
      rgb(250.58823529411762, 252.8235294117647, 255),
      rgb(100, 12, 12),
      rgb(34.411764705882376, 146.1764705882353, 255)
    );
  }
  100% {
    background: linear-gradient(
      to left,
      rgb(255, 255, 255),
      rgb(100, 12, 12),
      rgb(30, 144, 255)
    );
  }
}
