body {
  margin: 0;
  padding: 0;
  background: linear-gradient(to right, indigo, dodgerblue);
}
a {
  text-decoration: none;
  color: white;
  font-size: 30px;
  /* border: 1px solid white; */
  background: dodgerblue;
  margin-left: 5px;
  border-radius: 5px;
}
a:hover {
  color: black;
}
