body {
  margin: 0;
  padding: 0;
}

/* HEADER */

/* LISTEN */
.listen {
  text-decoration: none;
  color: white;
  font-size: 30px;
  background: linear-gradient(
    to left,
    rgb(255, 255, 255),
    rgb(100, 12, 12),
    rgb(30, 144, 255)
  );
  left: 86vw;
  border-radius: 5px;
  top: 0.7vh;
  position: absolute;
  transition: 0.5s ease;
}

.listen:hover {
  color: black;
  margin-left: -1vw;
  background: linear-gradient(
    to right,
    rgb(255, 255, 255),
    rgb(100, 12, 12),
    rgb(30, 144, 255)
  );
}
